* html .u1_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u1_normal.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u46_normal.png");
}

* html .u50_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u50_normal.png");
}

* html .u53_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u53_normal.png");
}

* html .u55_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u55_normal.png");
}

* html .u57_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/lblRodapeJanela_u57_normal.png");
}

* html .u59_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u59_line.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u60_normal.png");
}

* html .u62_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u62_line.png");
}

* html .u63_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u63_normal.png");
}

* html .u65_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u65_line.png");
}

* html .u66_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u66_normal.png");
}

* html .u68_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u68_normal.png");
}

* html .u70_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u68_normal.png");
}

* html .u72_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u68_normal.png");
}

* html .u96_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u96_normal.png");
}

* html .u98_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/Medi_ao_em_uso_u98_normal.png");
}

* html .u127_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u129_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u136_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u138_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u145_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u147_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u154_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u156_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u163_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u165_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u174_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u176_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u185_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u187_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u194_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u196_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u203_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u205_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u212_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u214_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u223_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u225_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u234_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u236_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u243_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u245_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u252_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u254_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u261_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u263_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u270_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u272_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

* html .u279_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u127_normal.png");
}

* html .u281_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3___Ecodoppler_Transcraniano__Pesquisa_de_Vasoespasmo_files/u129_normal.png");
}

