* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u12_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u16_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u19_normal.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u21_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/lblRodapeJanela_u23_normal.png");
}

* html .u25_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u25_line.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u26_normal.png");
}

* html .u28_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u28_line.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u29_normal.png");
}

* html .u31_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u31_line.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u32_normal.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u34_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u34_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u34_normal.png");
}

* html .u50_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u50_normal.png");
}

* html .u52_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u52_normal.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u60_normal.png");
}

* html .u62_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u62_normal.png");
}

* html .u68_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u60_normal.png");
}

* html .u70_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u52_normal.png");
}

* html .u76_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u76_normal.png");
}

