* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u12_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u16_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u19_normal.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u21_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/lblRodapeJanela_u23_normal.png");
}

* html .u25_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u25_line.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u26_normal.png");
}

* html .u30_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u30_line.png");
}

* html .u31_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u31_normal.png");
}

* html .u33_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u33_line.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u26_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u36_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u36_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u36_normal.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u42_normal.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u44_normal.png");
}

* html .u48_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u48_normal.png");
}

* html .u50_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u50_normal.png");
}

* html .u58_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u48_normal.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u50_normal.png");
}

* html .u73_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u48_normal.png");
}

* html .u75_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u75_normal.png");
}

* html .u87_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u87_normal.png");
}

* html .u89_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u44_normal.png");
}

* html .u97_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u87_normal.png");
}

* html .u99_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u44_normal.png");
}

* html .u107_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u109_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u117_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u119_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u127_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u129_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u137_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u139_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u147_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u149_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u157_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u159_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u167_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u169_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u177_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u179_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u187_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u189_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u197_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u199_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u207_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u209_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u217_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u219_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u227_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u229_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u237_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u239_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u247_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u249_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u257_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u259_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u267_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u269_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u277_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u279_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u287_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u289_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u297_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u107_normal.png");
}

* html .u299_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u109_normal.png");
}

* html .u327_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u42_normal.png");
}

* html .u329_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u44_normal.png");
}

* html .u333_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u48_normal.png");
}

* html .u335_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u50_normal.png");
}

* html .u343_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u48_normal.png");
}

* html .u345_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u50_normal.png");
}

* html .u358_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u48_normal.png");
}

* html .u360_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u75_normal.png");
}

* html .u375_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u42_normal.png");
}

* html .u377_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u44_normal.png");
}

* html .u381_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u48_normal.png");
}

* html .u383_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u50_normal.png");
}

* html .u391_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u48_normal.png");
}

* html .u393_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u50_normal.png");
}

* html .u406_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u48_normal.png");
}

* html .u408_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u75_normal.png");
}

* html .u423_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u42_normal.png");
}

* html .u425_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u44_normal.png");
}

* html .u429_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u48_normal.png");
}

* html .u431_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u50_normal.png");
}

* html .u439_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u48_normal.png");
}

* html .u441_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u50_normal.png");
}

* html .u454_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u48_normal.png");
}

* html .u456_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="2___Ecodoppler_de_Arterias_Carotidas_e_Vertebrais_files/u75_normal.png");
}

