* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u12_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u16_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u19_normal.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u21_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/lblRodapeJanela_u23_normal.png");
}

* html .u25_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u25_line.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u26_normal.png");
}

* html .u28_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u28_line.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u29_normal.png");
}

* html .u31_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u31_line.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u32_normal.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u34_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u34_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u34_normal.png");
}

* html .u52_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u52_normal.png");
}

* html .u83_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u83_line.png");
}

* html .u84_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u84_normal.png");
}

* html .u90_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u92_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u121_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u123_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u152_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u154_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u183_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u185_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u214_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u216_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u245_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u247_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u276_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u278_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u307_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u309_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u338_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u340_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u369_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u371_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u400_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u402_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u431_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u433_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u462_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u464_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u493_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u495_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u524_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u90_normal.png");
}

* html .u526_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u555_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u555_normal.png");
}

* html .u557_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u566_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u555_normal.png");
}

* html .u568_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u577_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u555_normal.png");
}

* html .u579_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

* html .u593_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u555_normal.png");
}

* html .u595_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="5___Ecodoppler_Transcraniano__Pesquisa_de_Estenose_files/u92_normal.png");
}

