body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:1px;
    top:61px;
    width:3980px;
    height:4030px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:3980px;
    height:4030px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2007px;
    width:3976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:1px;
    top:1px;
    width:3980px;
    height:64px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:3980px;
    height:64px;
}

.u3 {
    position:absolute;
    left:2px;
    top:24px;
    width:3976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_container {
    position:absolute;
    left:64px;
    top:1px;
    width:347px;
    height:77px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:347px;
    height:77px;
}

.u5 {
    position:absolute;
    left:2px;
    top:30px;
    width:343px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_container {
    position:absolute;
    left:461px;
    top:14px;
    width:70px;
    height:34px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:34px;
}

.u9 {
    position:absolute;
    left:2px;
    top:9px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_container {
    position:absolute;
    left:535px;
    top:14px;
    width:58px;
    height:34px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:34px;
}

.u11 {
    position:absolute;
    left:2px;
    top:9px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:74px;
    top:99px;
    width:890px;
    height:622px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:628px;
}

.u13 {
    position:absolute;
    left:2px;
    top:303px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_container {
    position:absolute;
    left:75px;
    top:99px;
    width:890px;
    height:32px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:890px;
    height:32px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:82px;
    top:137px;
    width:872px;
    height:574px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:878px;
    height:580px;
}

.u17 {
    position:absolute;
    left:2px;
    top:279px;
    width:868px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:84px;
    top:114px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:90px;
    top:145px;
    width:855px;
    height:536px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:861px;
    height:542px;
}

.u20 {
    position:absolute;
    left:2px;
    top:260px;
    width:851px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:93px;
    top:147px;
    width:849px;
    height:14px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:855px;
    height:20px;
}

.u22 {
    position:absolute;
    left:2px;
    top:0px;
    width:845px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/lblRodapeJanela_u23_normal.png');
}

.u23_container {
    position:absolute;
    left:90px;
    top:687px;
    width:855px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:861px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:3px;
    width:851px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u25 {
    position:absolute;
    left:100px;
    top:294px;
    width:714px;
    height:145px
}

.u26_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:47px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:47px;
    top:0px;
    width:429px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:435px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:425px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:476px;
    top:0px;
    width:213px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:689px;
    top:0px;
    width:20px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:20px;
    width:47px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:47px;
    top:20px;
    width:429px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:435px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:425px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:476px;
    top:20px;
    width:213px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:689px;
    top:20px;
    width:20px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u34_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:40px;
    width:47px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u36_normal.png');
}

.u44_container {
    position:absolute;
    left:47px;
    top:40px;
    width:429px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:435px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:425px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u38_normal.png');
}

.u46_container {
    position:absolute;
    left:476px;
    top:40px;
    width:213px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:26px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u40_normal.png');
}

.u48_container {
    position:absolute;
    left:689px;
    top:40px;
    width:20px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u34_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:60px;
    width:47px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u36_normal.png');
}

.u52_container {
    position:absolute;
    left:47px;
    top:60px;
    width:429px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:435px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:425px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u38_normal.png');
}

.u54_container {
    position:absolute;
    left:476px;
    top:60px;
    width:213px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:26px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u40_normal.png');
}

.u56_container {
    position:absolute;
    left:689px;
    top:60px;
    width:20px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u34_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:80px;
    width:47px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u36_normal.png');
}

.u60_container {
    position:absolute;
    left:47px;
    top:80px;
    width:429px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:435px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:425px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u38_normal.png');
}

.u62_container {
    position:absolute;
    left:476px;
    top:80px;
    width:213px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:26px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u40_normal.png');
}

.u64_container {
    position:absolute;
    left:689px;
    top:80px;
    width:20px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u34_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:100px;
    width:47px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u36_normal.png');
}

.u68_container {
    position:absolute;
    left:47px;
    top:100px;
    width:429px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:435px;
    height:26px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:425px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u38_normal.png');
}

.u70_container {
    position:absolute;
    left:476px;
    top:100px;
    width:213px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:26px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u40_normal.png');
}

.u72_container {
    position:absolute;
    left:689px;
    top:100px;
    width:20px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u34_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:120px;
    width:47px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u36_normal.png');
}

.u76_container {
    position:absolute;
    left:47px;
    top:120px;
    width:429px;
    height:20px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:435px;
    height:26px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:425px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u38_normal.png');
}

.u78_container {
    position:absolute;
    left:476px;
    top:120px;
    width:213px;
    height:20px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:26px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u40_normal.png');
}

.u80_container {
    position:absolute;
    left:689px;
    top:120px;
    width:20px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:100px;
    top:265px;
    width:132px;
    height:20px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:26px;
}

.u83 {
    position:absolute;
    left:2px;
    top:3px;
    width:128px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u82_normal.png');
}

.u84_container {
    position:absolute;
    left:240px;
    top:265px;
    width:132px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:26px;
}

.u85 {
    position:absolute;
    left:2px;
    top:3px;
    width:128px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:102px;
    top:188px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:102px;
    top:171px;
    width:77px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:231px;
    top:188px;
    width:300px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89_container {
    position:absolute;
    left:209px;
    top:191px;
    width:15px;
    height:15px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u90 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:102px;
    top:235px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u92 {
    position:absolute;
    left:102px;
    top:218px;
    width:305px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:231px;
    top:235px;
    width:300px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94_container {
    position:absolute;
    left:209px;
    top:238px;
    width:15px;
    height:15px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u95 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u96 {
    position:absolute;
    left:0px;
    top:0px;
    width:3981px;
    height:4091px;
    overflow:hidden;
}

#pd0u96 {
    position:absolute;
    left:0px;
    top:0px;
    width:3981px;
    height:4091px;
    
}

.u97_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:0px;
    top:0px;
    width:3980px;
    height:4090px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:3986px;
    height:4096px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2037px;
    width:3976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:74px;
    top:68px;
    width:750px;
    height:510px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:516px;
}

.u100 {
    position:absolute;
    left:2px;
    top:247px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:84px;
    top:78px;
    width:730px;
    height:490px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:736px;
    height:496px;
}

.u102 {
    position:absolute;
    left:2px;
    top:237px;
    width:726px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:804px;
    top:60px;
    width:26px;
    height:26px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:32px;
}

.u104 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:807px;
    top:63px;
    width:20px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:809px;
    top:65px;
    width:16px;
    height:16px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u108 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:91px;
    top:84px;
    width:717px;
    height:478px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:723px;
    height:484px;
}

.u110 {
    position:absolute;
    left:2px;
    top:231px;
    width:713px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../Cadastro_de_equipamentos_de_exames_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:94px;
    top:87px;
    width:711px;
    height:13px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:717px;
    height:19px;
}

.u112 {
    position:absolute;
    left:2px;
    top:0px;
    width:707px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:100px;
    top:129px;
    width:60px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u114 {
    position:absolute;
    left:100px;
    top:111px;
    width:60px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:175px;
    top:129px;
    width:450px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u116 {
    position:absolute;
    left:175px;
    top:111px;
    width:450px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

