<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="QuantidadeRegPagina" value="10"/>
    <add key="Servidor" value="DSV"/>
    <add key="CodigoSistema" value="182"/>
    <add key="caminhoArquivoLogErro" value="~/LogErro/Log.txt"/>
    <add key="smtp" value="hcrp.fmrp.usp.br"/>

    <add key="fromLogEmail" value="sistemashcrp@hcrp.fmrp.usp.br"/>
    <add key="fromLogDisplayName" value="Sistemas HCRP"/>

    <add key="emailASerNotificado" value="fbarbosa@hcrp.usp.br"/>
    <add key="emailASerNotificadoDisplayName" value="Flavio Barbosa"/>

    <add key="logErroSubject" value="Relatório de erro dos sistemas HCRP"/>

    <add key="notificaPorEmail" value="true"/>
    <add key="AmbienteDeDesenvolvimento" value="true"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="urlTermoConsentimento" value="http://126.5.2.35/termoconsentimento/login.aspx" />
    <add key="codConvenioSUS" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="conn" providerName="System.Data.OracleClient" connectionString="Data Source=DSV; User Id=GENERICO;Password=PKCDGVSD;DataProvider=OracleClient;"/>
  </connectionStrings>

  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.1.0.400" newVersion="10.1.0.400"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
