* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u2_normal.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u4_normal.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u6_normal.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u8_normal.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u11_normal.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u13_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u16_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u16_normal.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u24_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u26_normal.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u28_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u30_normal.png");
}

* html .u35_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u35_normal.png");
}

* html .u37_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u37_normal.png");
}

* html .u39_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="4___Laudo___Ecodoppler_Transcraniano__Pesquisa_de_microembolos_files/u39_normal.png");
}

